/* GERAL */

body{

    background-color: white;
    color: #006b64; /*cor do texto*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#menu {
    height: 50px;
    display: flex;
    align-items: center;
}

#logo{
    border-radius: 4px;
    width: 20%;
    align-items: center;
    margin-left: 1%;
}

#titulo{
    width: 60%;
    font-size-adjust: ex-heigt 5;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    text-shadow: 4px 4px 5px silver; 
}

#acesso{
    margin-right: 1%;
    width: 20%;
    text-justify: center;
    text-align: right;
}

a{
  color:#006b64;
}

#container {
    /* width: 20%; */
    align-items: center;
    padding: 60px 15% 0px 15%;
}

button{
    border-radius: 5px;
    border-color: silver;
    width: 80px;
    padding: 2px; /*espaço externo*/
    margin: 2px; /*espaço interno*/
}

input, select, textarea {
   
    border-radius: 5px;
    border-color: silver;
    width: 95%;
    padding: 2px; /*espaço externo*/
    margin: 2px; /*espaço interno*/
}

.seleciona {
   
    border-radius: 5px;
    border-color: silver;
    width: 100px;
    padding: 2px; /*espaço externo*/
    margin: 2px; /*espaço interno*/
}

fieldset {
    width: 90%;
    border-radius: 15px;
    border-color: #006b64;
}

legend{
    font-weight: bold;
    font-size: 14pt;
    color: rgb(160, 160, 160);
}

footer, table {
    text-align: center;
}

/* PÁGINA AGENDAMENTO */

#formulario {
    
    align-items: center;
    padding: 0px 10px 0px 10px;
    margin: 40%, auto, 40%, auto;
}

/* PÁGINA PAINEL AGENDA */

td {
    width: 150px;
    height: 30px;
    text-align: center;
}


tr{
    background-color:lightgrey
}

button, #botaopainel{
    width: 98px;
    margin: px;
}


/* PÁGINA NAF */

#comentarios{
    width: 100%;
    font-size-adjust: ex-heigt 5;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    background-color: #006b64;
}

#coment1, #coment2, #coment3{
    border-radius: 4px;
    width: 100%;
    align-items: center;
    margin-left: 1%;
}

#linha1{
    text-align: center;
    background-color: #006b64;
    color: white;
}

/* PÁGINA PROTOCOLO */

.textocentral{
    text-align: center;
    
}

#prot_importante{
    color: red;

}

var{
    color: #006b64;
    background-color:aquamarine;
    border-radius: 10px;
   
}