/* ELEMENTOS DE TODAS AS PÁGINAS */

body{
    background-color: white;
    color: #006b64; /*cor do texto*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#menu {
    height: 50px;
    display: flex;
    align-items: center;
}

#logo{
    border-radius: 4px;
    width: 20%;
    align-items: center;
    margin-left: 1%;
}

#titulo{
    width: 60%;
    font-size-adjust: ex-heigt 5;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    text-shadow: 4px 4px 5px silver; 
}

#acesso{
    margin-right: 1%;
    width: 20%;
    text-justify: center;
    text-align: right;
}

a{
  color:#006b64;
}

#container {
    /* width: 20%; */
    align-items: center;
    padding: 60px 15% 0px 15%;
}

button{
    border-radius: 5px;
    border-color: silver;
    width: 80px;
    padding: 2px; /*espaço externo*/
    margin: 2px; /*espaço interno*/
}

input, select, textarea {
    border-radius: 5px;
    border-color: silver;
    width: 95%;
    padding: 2px; /*espaço externo*/
    margin: 2px; /*espaço interno*/
}

.seleciona {
   
    border-radius: 5px;
    border-color: silver;
    width: 100px;
    padding: 2px; /*espaço externo*/
    margin: 2px; /*espaço interno*/
}

fieldset {
    width: 90%;
    border-radius: 15px;
    border-color: #006b64;
}

legend{
    font-weight: bold;
    font-size: 14pt;
    color: rgb(160, 160, 160);
}

footer, table {
    text-align: center;
}

/* ELEMENTOS DA PÁGINA AGENDAMENTO */

#formulario {
    
    align-items: center;
    padding: 0px 10px 0px 10px;
    margin: 40%, auto, 40%, auto;
}

/* ELEMENTOS DA PÁGINA PAINEL AGENDA */

td {
    width: 150px;
    height: 30px;
    text-align: center;
}

tr{
    background-color:lightgrey
}

/*Botões Superiores do Painel*/

#container_botoes_superiores{
    display: flex; 
}
#botao_semana_anterior{
    align-items: left;
    flex: .2;
}
#semana_exibida{
    align-items: center;
    flex:2.0;
}
#botao_proxima_semana{
    align-items: center;
    flex: .2;
}

#linha1{ /* Cabeçalho da Tabela no Painel*/
    text-align: center;
    background-color: #006b64;
    color: white;
}

button, #botaopainel{
    width: 94px;
    margin: px;
}
.greenicon{
    color: green;
}
.redicon{
    color: red;
}
.blueicon{
    color: rgb(2, 134, 196);
}

/* ELEMENTOS DA PÁGINA NAF */

#comentarios {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
}
h2{
    text-align: center;
}

#fotoatendimento {
    text-align: center; 
}
#fotoatendimento img {
    display: inline-block; 
    border-radius: 5%;
}


.comentario {
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    border: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    box-sizing: border-box;
    text-align: center;
}

.comentario h2 {
    margin-bottom: 10px;
    color: #333;
}

.comentario p {
    color: #666;
}

/* PÁGINA PROTOCOLO */

.textocentral{
    text-align: center;
}

#prot_importante{
    color: red;
}

var{
    text-align: center;
    color: #006b64;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 10px 10px;
}